<div class="container-fluid">
    <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Novo fornecedor</h4>
                </div>
                <hr>
                <div>
                </div>
                <div class="content">
                    <form #form="ngForm" (ngSubmit)="saveProvider()" novalidate>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fornecedor</label>
                                    <select [(ngModel)]="currentProvider" class="selectpicker form-control border-input" data-style="select-with-transition"
                                        title="Single Select" data-size="7" name="provider" id="inputProvider" required>
                                        <option *ngFor="let provider of allProviders" [ngValue]="provider">{{provider.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Razão social</label>
                                    <label type="label" class="form-control border-input" name="providerScialName" id="labelSocialName" placeholder="Razão social">{{currentProvider.social_name}}</label>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CNPJ</label>
                                    <label type="label" class="form-control border-input" name="providerCnpj" id="inputCnpj" placeholder="CNPJ">{{currentProvider.cnpj}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Site</label>
                                    <label type="label" class="form-control border-input" name="homepage" id="homepage" placeholder="Site">{{currentProvider.homepage}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Endereço</label>
                                    <label type="label" class="form-control border-input" name="labeladdress" id="labeladdress" placeholder="Endereço">{{currentProvider.address}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <label type="label" class="form-control border-input" name="inputEmail" id="inputEmail" placeholder="Cidade">{{currentProvider.city}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <label type="label" class="form-control border-input" name="labelphone" id="labelphone" placeholder="Telefone">{{currentProvider.phone}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <label type="label" class="form-control border-input" name="labelemail" id="labelemail" placeholder="E-mail">{{currentProvider.email}}</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tipo de Empresa</label>
                                    <label type="label" class="form-control border-input" name="labelcompanyType" id="labelcompanyType" placeholder="Tipo de empresa">{{currentProvider.companyType}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Faturamento Anual</label>
                                    <label type="label" class="form-control border-input" name="labelannual_billing" id="labelannual_billing" placeholder="Faturamento Médio Anual">{{currentProvider.annual_billing}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Reputação</label>
                                    <label type="label" class="form-control border-input" name="reputation" id="reputation" placeholder="Reputação">{{currentProvider.reputation}}</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Categoria</label>
                                    <label type="label" class="form-control border-input" name="category" id="category" placeholder="Categoria">{{currentProvider.category}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Ano de Fundação</label>
                                    <label type="label" class="form-control border-input" name="foundation_year" id="foundation_year" placeholder="Categoria">{{currentProvider.foundation_year}}</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Quantidade de Clientes</label>
                                    <label type="label" class="form-control border-input" name="qtd_clients" id="qtd_clients" placeholder="Quantidade de Clientes">{{currentProvider.qtd_clients}}</label>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Itens disponíveis</label>
                                    <label type="label" class="form-control border-input" name="inputItems" id="inputItems" placeholder="Items disponíveis">{{currentProvider.qtd_items}}</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>% paga sob o produto</label>
                                    <label type="label" class="form-control border-input" name="labelpercentage" id="labelpercentage" placeholder="Porcentagem paga sob o produto">{{currentProvider.percentage}}</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Taxa de rejeição</label>
                                    <label type="label" class="form-control border-input" name="rejection_rate" id="rejection_rate" placeholder="Taxa de rejeição">{{currentProvider.rejection_rate}}</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Itens vendidos</label>
                                    <label type="label" class="form-control border-input" name="qtd_items_sold" id="qtd_items_sold" placeholder="Quantidade de itens vendidos">{{currentProvider.qtd_items_sold}}</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6  col-sm-12 text-center">
                            <button class="btn btn btn-sm btn-success btn-icon" (click)="clear()"><i class="fa fa-ban"></i>Cancelar</button>
                        </div>

                        <div class="col-md-6 col-sm-12 text-center">
                            <button type="submit" [disabled]="!form.valid" class="btn btn-sm btn-success btn-icon"><i class="fa fa-plus "></i>Adicionar</button>
                        </div>

                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>