<div class="container-fluid">
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="header">
          <div>
            <div class="nav navbar-nav navbar-left">
              <h4 class="title">Fornecedores</h4>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <hr>
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>Nome</th>     
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let provider of listProvider">
                      <td>{{provider.name}}</td>
                  <td><button class="btn btn-sm btn-success btn-icon" (click)="detailProvider(provider.id)"><i class="fa fa-id-card-o "></i>Detalhar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>