<body class="bg-dark">
    <div class="container">


        <div class="card card-login col-lg-6 col-md-4">


            <div class="header ">
                <div class="col-xs-12 col-md-12">
                    <div class="thumbnail">
                        <img src="../../../../assets/img/pidecor.png" class="img-fluid max-width: 50% rounded mx-auto d-block" alt="Responsive image">
                    </div>
                </div>

                <p class="login-box-msg">Faça o login para iniciar sua sessão!</p>
            </div>
            <div class="content">
                <form #form="ngForm" (ngSubmit)="login()">
                    <div class="row">
                        <div class="col-md-12">
                            <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" [(ngModel)]="user.email" class="form-control border-input" name="email" id="inputEmail3" #email="ngModel"
                                    placeholder="Email" email>
                                <span class="help-block" *ngIf="email.invalid && email.dirty">Email is invalid</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div [ngClass]="getFromGroupClass(password.invalid, password.dirty)">
                                <label for="exampleInputEmail1">Senha</label>
                                <input type="password" [(ngModel)]="user.password" class="form-control border-input" name="password" id="inputPassword" #password="ngModel"
                                    placeholder="Password" password>
                                <span class="help-block" *ngIf="password.invalid && password.dirty">Password is invalid</span>
                            </div>
                        </div>
                    </div>
                    <div class="login-logo">
                        <div class="col-md-12">
                            <div class="box-footer">
                                <button type="submit" [disabled]="!form.valid" (click)="login()" class="btn pi2-btn-info btn-fill btn-wd login-button">Entrar</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

</body>